{% extends 'base.html.twig' %}

{% block title %}Activity index{% endblock %}

{% block body %}
    <h1>Список мероприятий</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Дата</th>
                <th>Время</th>
                <th>Площадка</th>
                <th>Мероприятие</th>
                <th>Ответственные</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.id }}</td>
                <td>{{ activity.date ? activity.date|date('Y-m-d') : '' }}</td>
                <td>{{ activity.time ? activity.time|date('H:i:s') : '' }}</td>
                <td>{{ activity.place }}</td>
                <td>{{ activity.title }}</td>
                <td>{{ activity.organizator }}</td>
                <td>
                    <a href="{{ path('app_activity_show', {'id': activity.id}) }}">просмотр</a>
                    <a href="{{ path('app_activity_edit', {'id': activity.id}) }}">изменить</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">нет данных</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_activity_new') }}">Новый</a>
{% endblock %}
